<!-- On inclut le header et le footer qui sont regroupés dans un dossier 'partials' -->
<%- include('./partials/header.ejs') %>
<main>
  <h3>Bienvenue sur ma plateforme de jeux !</h3>
  <p>Choisis le jeu qui t'intéresse dans la barre de navigation et clique dessus pour y jouer !</p>
</main>
<%- include('./partials/footer.ejs') %>