<!-- On inclut le header et le footer qui sont regroupés dans un dossier 'partials' -->
<%- include('./partials/header.ejs') %>
<main>
  <h3>Page non trouvée</h3>
</main>
<%- include('./partials/footer.ejs') %>