<!-- On inclut le header et le footer qui sont regroupés dans un dossier 'partials' -->
<%- include('./partials/header.ejs') %>
<main>
    <h3>Course</h3>
    <div id="board"></div>
    <script src="/js/racing.js" charset="utf-8"></script>
</main>
<%- include('./partials/footer.ejs') %>