<!-- On inclut le header et le footer qui sont regroupés dans un dossier 'partials' -->
<%- include('./partials/header.ejs') %>
<main>
  <h3>Juste Prix</h3>
  <script src="/js/rightPrice.js"></script>
</main>
  <%- include('./partials/footer.ejs') %>