body {
    background: #9797ff;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h3 {
    background: none;
}

.player {
    width: 28px;
    height: 32px;
    background-image: url('../img/boy-sprite.png');
    background-position-y: -64px;
    margin: 20px;
}

.player--left {
    background-position-y: -32px;
}

.player--right {
    background-position-y: -64px;
}

.player--up {
    background-position-y: -96px;
}

.player--down {
    background-position-y: 0;
}

#board {
    display: flex;
    /* pour mettre les lignes les unes sous les autres */
    flex-direction: column;
}

.row {
    display: flex;
}

/* style d'une case (cell) */
.cell {
    width: 70px;
    height: 70px;
    border: 1px solid black;
}


.targetCell {
    background-color: #5959ff;
}

